body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f4f4f4;
}

h1, h2 {
    color: #333;
}

form, table {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input, select, textarea {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    padding: 10px 20px;
    background-color: #9873ff;
    color: #fff;
    border: #ffffff;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #8259f6;
}

button#agregar-donacion {
    width: auto;
    padding: 10px;
    background-color: #9873ff;
    color: white;
    border: #ffffff;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button#agregar-donacion:hover {
    background-color: #8259f6;
}

button#ver-dispositivos {
    width: auto;
    padding: 10px;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #ab73ff;
    border-radius: 1px;
    cursor: pointer;
    font-size: 16px;
}

button#ver-dispositivos:hover {
    background-color: #8259f6;
    color: #ffffff;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 50px;
}

img {
    cursor: pointer;
}
