<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Gráfico de Contactos</title>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="../static/js/get_contactos_comuna.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
<h1>Gráfico de Contactos por Comuna</h1>
<div id="container" style="width: 100%; height: 400px;"></div>

<div style="display: flex; justify-content: center; margin-top: 20px;">
    <div class="buttons">
        <button id="index" type="button" onclick="window.location.href='{{ url_for('index') }}'">Volver al inicio</button>
    </div>
</div>
</body>
</html>
